#secret_item {
    filter: opacity(1);
    z-index: 5;

    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    overflow: visible;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#veil {
    position: relative;
    background-color: var(--mid);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    transition: 0.5s;
}

.secret_revealed {
    flex: 1;
}

.secret_progress {
    z-index: 3;
    position: relative;
    display: none;
    width: 20px;
    aspect-ratio: 1/1;
    background-color: var(--mid);
    border-radius: 100%;
}

.secret_revealed .secret_progress  {
    display: block !important;
}