#taste {
    padding: 10vw;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title_taste { padding: 10vw; padding-top: 0px;}
#title.taste h1{ font-size: min(15vh, 15vw); text-align: center;}

#carousel_of_taste {
    width: 100%
}

#carousel_inner {
    display: relative;
    left: -100vw;
    
    display: flex;
    gap: 10vw;
    animation: panagonia 1s;
}

@keyframes panagonia {
    0% {
        left: 0vw;
    }
    100% {
        left: -240vw;
    }
}

#carousel_inner figure {
    display: inline;
    width: 70vw;
    margin: 0px;
    aspect-ratio: 2/3;
    text-align: center;
}

#carousel_inner figure img {
    height: 100%;
    object-fit: cover;
}