#thanku {
    padding: 10vw;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#title_thanku { padding: 20vw; padding-top: 0px;}
#title.thanku h1{ font-size: min(20vh, 20vw); text-align: center; width: 100%}