#ubroke {
    padding: 10vw;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title_ubroke { padding: 10vw; padding-top: 0px;}
#title.ubroke h1{ font-size: min(15vh, 15vw); }

#ubroke h2 {
    font-size: min(5vh, 5vw);
}

#ubroke label {
    margin-top: 5vh;
}

#ubroke input {
    height: 40px;
    margin: 10px;

    border-radius: 40px;
    padding: 10px;
}

#calc_card {
    perspective: 1000px;
    margin-top: 5vw;
    width: 60vw;
    aspect-ratio: 5/6;
}

#calc_card_inner {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform: rotateY(0deg);
}

#card_front, #calc_card_inner figure {
    position: absolute;

    border-radius: 20px;
    background-color: var(--darkshadow);
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

#card_front {
    padding: 5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calc_card_inner figure {
    margin: 0px;
    transform: rotateY(180deg);
    overflow: hidden;
}

#calc_card_inner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ubroke_button_container {
    overflow: hidden;
    transition: 0.5s;
    max-height: 0px;
    margin-top: 5vw;
    background-color: var(--front);
    border-radius: 10px;
    transition: 0.2s;
    
    display: flex;
    gap: 3vw;
}

#ubroke_button_container button {
    margin: 1vh;
    background-color: var(--darkshadow);
    border-radius: 10px;
    border: none;
    padding: 3vw;
    
    transition: 0.2s;
}

#ubroke_button_container button:nth-child(2n + 1) { background-color: var(--mid); }

#ubroke_button_container.wrong { background-color: rgb(150, 0, 0);}
#ubroke_button_container.wrong button { color: var(--back); }
#ubroke_button_container.wrong button:nth-child(2n + 1) { background-color: rgb(100, 0, 0); }
#ubroke_button_container.wrong button:nth-child(2n) { background-color: rgb(200, 0, 0); }

#next_ubroke {
    transition: 0.5s;
    max-height: 0px;
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
    
    /* padding: 20px;
    margin-top: 10px; */
}