#ubroke {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title_ubroke {
    padding: 5vw;
}

#ubroke label {
    margin-top: 5vh;
}

#ubroke input {
    height: 40px;
    margin: 10px;

    border-radius: 40px;
    padding: 10px;
}

#ubroke .next { margin-top: 5vh; }

#calc_card {
    perspective: 1000px;
    margin-top: 5vw;
    width: 60vw;
    aspect-ratio: 3/4;
}

#calc_card_inner {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform: rotateY(0deg);
}

#card_front, #calc_card_inner figure {
    position: absolute;

    border-radius: 20px;
    background-color: var(--darkshadow);
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

#card_front {
    padding: 5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calc_card_inner figure {
    margin: 0px;
    transform: rotateY(180deg);
}

#calc_card_inner figure img {
    width: 100%;
    aspect-ratio: 1080/1350;
    object-fit: cover;
}