#videoad {
    padding: 10vw;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#title_videoad { padding: 20vw; padding-top: 0px;}
#title.videoad h1{ font-size: min(10vh, 10vw); text-align: center; width: 100%}

#video_container {
    position: relative;
    margin-top: min(5vw, 5vh);
    border-radius: 15px;
    width: 80vw;
    height: min-content;
}

#video_container video {
    position: absolute;
    width: 100%;
    z-index: 5;
}

#video_overlay {
    position: absolute;
    width: 100%;
    aspect-ratio: 30239 / 37798;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 6;

    display: flex;
    justify-content: center;
    align-items: center;
}


#video_play {
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 70px;
}

#video_play img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}