#hello {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hello label {
    margin-top: 5vh;
}

#hello input {
    height: 40px;
    margin: 10px;

    border-radius: 40px;
    padding: 10px;
}

#hello .next {
    margin-top: 5vh;
}