* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

    --strong: rgb(70, 70, 70);
    --toned: rgb(90, 90, 90);
    color: var(--toned);

    --front: rgb(240, 240, 240);
    --back:  rgb(250, 255, 255);
    --mid: rgb(248, 248, 248);


    --darkshadow: rgb(180, 180, 180);
    --softshadow: rgb(160, 160, 160);
    --highlight: rgb(240, 240, 240);
}

input {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  appearance: none;       /* Removes OS/browser-specific styles */
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none;    /* Firefox */
}

html {
    overflow: hidden;
}


body {
    margin: 0px;
    max-height: 100vh;
    max-width: 100vw;
    background-color: var(--back);
    overflow: hidden;
}

main {
    position: relative;
    display: flex;
    overflow: hidden;
    min-width: none;
    width: 800vw;
    transition: 0.5s;
    left: 0px;
}

.main_section {
    width: 100vw;
    overflow: hidden;
}

.depth {
    box-shadow: 0px 2px 2px var(--darkshadow);
    box-shadow: 0px 4px 6px var(--softshadow);
}

#progress {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 25px;
    height: 20vh;
    align-items: center;
    padding: 0vw;
    transition: 0.5s;
}

.progress_item {
    position: relative;
    background-color: var(--mid);
    height: max(50%, 7vh);
    aspect-ratio: 1/1;
    border-radius: 10vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    transition: 0.5s;

    font-size: min(3vw, 4vh);
}

#select_progress {
    position: absolute;
    top: 0px;
    height: 90%;
    background-color: var(--darkshadow);
    aspect-ratio: 0.6/1;
    z-index: 3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s cubic-bezier(.47,1.64,.41,.8);
}

h1, h2, p { margin: 0px; }
h2 {
    font-size: min(7vw, 7vh);
}

#title {
    position: absolute;
    width: 100vw;
    transition: 0.5s;
    color: var(--strong);
    left: 0vw;
    pointer-events: none;
}

#title h1{ font-size: min(20vh, 20vw); transition: 0.5s;}
.title_offset{
    visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
    max-height: 300px;
    max-width: 3000px;
}

.title_text {
    position: absolute;
    transition: 0.5s;
    filter: opacity(0);
}
.active_title { filter: opacity(1); }

#title_hello {
    width: 100%;
    text-align: center;
}

#title_hello_offset {
    margin-bottom: 5vw;
}

.next {
    background-color: var(--front);
    border-radius: 40px;
    border: none;
    padding: 3vw;
}

.warning {
    max-height: 0px;
    color: red;
    overflow: hidden;
    transition: 0.5s;
}

#taste_next {
    margin-top: 20px;
}